#exercice1{
  background-color: red;
  color: blue;
}
#exercice2{
  background-color: blue;
  color: green;
}
#exercice3{
  background-color: green;
  color: pink;
}
#exercice4{
  background-color: pink;
  color: purple;
}
#exercice5{
  background-color: purple;
  color: orange;
}
#exercice6{
  background-color: orange;
  color: grey;
}
#exercice7{
  background-color: grey;
  color: white;
}
#exercice8{
  background-color: white;
  color: black;
}
